html {
    body {
        margin: 0;
        padding: 0;
        background: #99BADD;
    }
}

.mainmenu {
background-color: tan;
  text-align: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 2px 1px black;
}
#chatwindow{
  display: table;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}
.chatroom-title{
  display: table-cell;
background-color: white;
}

.hide-page {
  display: none;
}
